<h2>Create new order type!</h2>

<form name="form" #f="ngForm" (submit)="createNewOrderType()" class="login-form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
                id="name"
                class="form-control"
                name="name"
                placeholder="Name"
                [(ngModel)]="orderType.name">
    </div>

    <br>

    <div class="buttons">
        <span type="button" (click)="cancel()" class="material-symbols-outlined">
            close
        </span>
    
        <span type="button" (click)="createNewOrderType()" class="material-symbols-outlined">
            add
        </span>
    </div>
</form>