<form [formGroup]="editForm">
    <label for="title">Title:</label>
    <input type="text"
                id="title"
                class="form-control"
                [(ngModel)]="order.title"
                formControlName="title">

    <label for="description">Description:</label>
    <input type="text"
                id="description"
                class="form-control"
                [(ngModel)]="order.description"
                formControlName="description">

    <label for="orderType">Type:</label>
    <select id="orderType"
            class="form-control"
            [(ngModel)]="order.orderTypeId"
            formControlName="orderTypeId"
            [selectedIndex]="order.orderTypeId">
        <option *ngFor="let orderType of orderTypes"
            [value]="orderType.orderTypeId">
            {{orderType.name}}
        </option>
    </select>

    <label for="price">Price:</label>
    <input type="number"
                id="price"
                class="form-control"
                [(ngModel)]="order.price"
                formControlName="price">


    <label for="client">Client:</label>
    <input type="text"
                id="client"
                class="form-control"
                [(ngModel)]="order.client"
                formControlName="client">

    <label for="plannedDate">When:</label>
    <input type="datetime-local"
                id="plannedDate"
                class="form-control"
                [(ngModel)]="order.plannedCompletionDate"
                formControlName="plannedDate">

    <label for="quantity">Quantity:</label>
    <input type="number"
                id="quantity"
                class="form-control"
                [(ngModel)]="order.quantity"
                formControlName="quantity">
</form>

<div>
    <button id="cancel" name="cancel" (click)="cancel()">
        Cancel
    </button>

    <button id="submit" name="submit" (click)="editOrder()">
        Update
    </button>
</div>