<div class="main">
    <div class="header">
        <div class="left">
            <input type="date"
            id="date"
            [(ngModel)] ="dt">
            <button type="button" (click)="changeDate()">Submit</button>
            <button (click)="changeView()">Change view</button>

        </div>
        
        <div class="right">
            <button (click)="createNewOrder()">Add new order</button>
            <button (click)="addNewOrderType()">Add new order type</button>
            <button (click)="deleteOrderType()">Delete order type</button>
        </div>
    </div>
    <div class="table">
        <table cellspacing="0" cellpadding="0">
            <tr class="first">
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Client</th>
                <th>Quantity</th>
                <th>Type</th>
                <th>Date</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Complete</th>
            </tr>

            <tr *ngFor="let order of orders"
            [ngClass]="{
                'crossed': order.completed,
                'normal': !order.completed
              }">
                <td>{{order.title}}</td>
                <td>{{order.description}}</td>
                <td>{{order.price}}</td>
                <td>{{order.client}}</td>
                <td>{{order.quantity}}</td>
                <td>{{getOrderType(order.orderTypeId)}}</td>
                <td>{{this.dateService.convertTime(order.plannedCompletionDate)}}</td>
                <td class="buttons">
                    <span type="button" (click)="deleteOrder(order.orderId)" class="material-symbols-outlined">
                        delete
                    </span>
                </td>
                <td class="buttons">
                    <span type="button" (click)="editOrder(order.orderId)" class="material-symbols-outlined">
                        edit_square
                    </span>
                </td>
                <td *ngIf="order.completed == false" class="buttons">
                    <span type="button" (click)="changeCompletionStatus(order.orderId)" class="material-symbols-outlined">
                        done
                    </span>
                </td>
                <td *ngIf="order.completed == true" class="buttons">
                    <span type="button" (click)="changeCompletionStatus(order.orderId)" class="material-symbols-outlined">
                        remove_done
                    </span>
                </td>
            </tr>
        </table>
    </div>
</div>

